<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link rel="stylesheet" href="./style.css" />
	</head>
	<body>
		<div class="flex">
			<div
				class="gauge gauge-primary"
				style="--gauge-value: 900; --gauge-max-value: 1000"
			></div>
			<div
				class="gauge gauge-secondary"
				style="--gauge-value: 800; --gauge-max-value: 1000"
			></div>
			<div
				class="gauge gauge-success"
				style="--gauge-value: 700; --gauge-max-value: 1000"
			></div>
			<div
				class="gauge gauge-info"
				style="--gauge-value: 600; --gauge-max-value: 1000"
			></div>
			<div
				class="gauge gauge-warning"
				style="--gauge-value: 500; --gauge-max-value: 1000"
			></div>
			<div
				class="gauge gauge-danger"
				style="--gauge-value: 400; --gauge-max-value: 1000"
			></div>
		</div>
	</body>
</html>
