.form
  .form__box
    .form__left
      .form__padding
        img(src="https://i.pinimg.com/originals/8b/44/51/8b4451665d6b2139e29f29b51ffb1829.png").form__image
    .form__right
      .form__padding-right
        form
          h1.form__title Member Login
          input(type="text" placeholder="Email").form__email
          input(type="text" placeholder="******").form__password
          input(type="submit" value="Login").form__submit-btn
        span Forgot 
          a(href="#").form__link Username
          a  / 
          a(href="#").form__link Password
        p 
          a(href="#").form__link Create your account
        