.frozen-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
button {
	position: relative;
	margin: 20px;
	padding: 15px 50px;
	outline: none;
	border: 0;
	border-radius: 50px;
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	color: #fff;
}
button:before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: block;
	height: 100%;
	width: 100%;
	background: linear-gradient(
		to left,
		rgba(255, 255, 255, 0) 50%,
		rgba(255, 255, 255, 0.4) 50%
	);
	background-size: 210% 100%;
	background-position: right bottom;
	border-radius: 50px;
	transition: all 1s;
}
.green {
	background-image: linear-gradient(to right, #25aae1, #40e495);
	box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}
.green:hover:before {
	background-position: left bottom;
}
.purple {
	background-image: linear-gradient(to right, #6253e1, #852d91);
	box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);
}
.purple:hover:before {
	background-position: left bottom;
}
