// NORMALIZED CSS INSTALLED
// View settings for more info.

#container
	#inviteContainer
		.logoContainer
			
			img.text(src="https://i.ibb.co/tHYHT5R/ommed-marca.png")
		.acceptContainer
			form
				h1 WELCOME BACK!
				.formContainer
					.formDiv(style="transition-delay: 0.2s")
						p EMAIL
						input(type="email", required="")
					.formDiv(style="transition-delay: 0.4s")
						p PASSWSORD
						input(type="password", required="")
						a.forgotPas(href="#") FORGOT YOUR PASSWORD?
					.formDiv(style="transition-delay: 0.6s")
						button.acceptBtn(type="submit") Login
						span.register
							| Need an account?
							a(href="#") Register