* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
:root {
	--black: #333;
	--white: #fff;
}
.dark {
	--black: #fff;
	--white: #333;
}
header {
	position: absolute;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 40px 100px;
	z-index: 10000;
}
.logo {
	position: relative;
	display: inline-flex;
	color: var(--black);
	text-decoration: none;
	font-size: 2rem;
	font-weight: 700;
	letter-spacing: 0.05rem;
	text-transform: uppercase;
}
.right-side {
	display: flex;
}
.btns {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	margin-left: 10px;
	cursor: pointer;
}
.btns ion-icon {
	font-size: 1.5rem;
	color: var(--black);
}
.btns.menu-toggle ion-icon {
	font-size: 3rem;
}
.btns ion-icon:nth-child(2) {
	display: none;
}
.btns.active ion-icon:nth-child(1) {
	display: none;
}
.btns.active ion-icon:nth-child(2) {
	display: block;
}
.main {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	min-height: 100vh;
}
.main video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.main h2 {
	position: relative;
	z-index: 3;
	font-size: 16vw;
	color: #fff;
	text-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
}
.mask {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	user-select: none;
	mix-blend-mode: screen;
}
.dark .mask {
	filter: invert(1);
	mix-blend-mode: multiply;
}
.navigation {
	position: absolute;
	top: 0;
	left: -100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: 100%;
	background: var(--white);
	z-index: 4;
	transition: left 0.5s linear;
}
.navigation.active {
	left: 0;
}
.navigation li a {
	display: inline-flex;
	margin: 5px 0;
	padding: 5px 20px;
	border-radius: 40px;
	font-size: 1.35rem;
	text-decoration: none;
	color: var(--black);
}
.navigation li a:hover {
	color: var(--white);
	background: var(--black);
}
@media (max-width: 768px) {
	header {
		padding: 20px;
	}
}
