<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css.css" />
    <title>3D动态图标</title>
</head>

<body>
    <div class="container">
        <div class="video">
            <video src="img/video.mp4" muted autoplay loop></video>
        </div>
        <div class="wrap">
            <div class="icon">
                <div class="item one"></div>
                <span>视频服务</span>
            </div>
            <div class="icon">
                <div class="item two"></div>
                <span>数据安全</span>
            </div>
            <div class="icon">
                <div class="item three"></div>
                <span>互联数据</span>
            </div>
            <div class="icon">
                <div class="item four"></div>
                <span>开发运维</span>
            </div>
            <div class="icon">
                <div class="item five"></div>
                <span>万物联网</span>
            </div>
            <div class="icon">
                <div class="item six"></div>
                <span>弹性计算</span>
            </div>
        </div>
    </div>
</body>

</html>
<!--领取源码加微信：zongjianriji-->
<!--领取源码加微信：zongjianriji-->
<!--领取源码加微信：zongjianriji-->
<!--领取源码加微信：zongjianriji-->
<!--领取源码加微信：zongjianriji-->
<!--领取源码加微信：zongjianriji-->
<!--领取源码加微信：zongjianriji-->
<!--领取源码加微信：zongjianriji-->
<!--领取源码加微信：zongjianriji-->
<!--领取源码加微信：zongjianriji-->
<!--领取源码加微信：zongjianriji-->
